{% extends 'website/main.html' %}

{% block page_title_header%}
BCM - Investments
{% endblock %}
{% block content %}
<div class="centerflex">
	<p class="title" style="font-size: 3.5vw;">How We Invest</p>
</div>
<div class="centerflex investphilosophy" style="min-height: 20vh; width: 101vw; justify-content: normal;padding: 3vw;margin-left: -1.1vw;flex-wrap: wrap;min-height: 40vh;">
	<p class="title" style="font-size:2.2vw;margin-left: 10vw;">Investment Philosophy</p>
	<div class="centerflex" style="flex-wrap: wrap;">
		<p style="min-width: 100vw;text-align: center;">temp</p>
		<div class="infoinvest">
			<p style="min-width:100vw; text-align:center;">Investment Strategy</p>
			<p style="font-size: 1vw; text-align: left; min-width:100%; margin-left:15vw">temp</p>
			<div class="centerflex">
			<ul class="investlist">
				<p>1. Auto-Tech & Mobility</p>
				<p>2. Fintech</p>
				<p>3. Space Exploration</p>
				<p>4. 3D Printing</p>
				<p>5. Renewable Energy</p>
				<p>6. Healthcare & Biotech</p>
				<p>7. Artificial Intelligence</p>
			</ul>
			<img class="investimg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Solid_white.svg/2048px-Solid_white.svg.png">
		</div>
		</div>
		
	</div>
</div>
{% endblock %}