{% extends 'website/main.html' %}

{% block page_title_header%}
BCM - Model Portfolios
{% endblock %}
{% block content %}
<div id="modelheading" class="centertitle backgroundimg" style="text-align: center; font-size: 30px;">
	<h1>BCM Model Portfolios</h1>
</div>
<div class="centerflex">
	<div id="modelwrapper">
		<button onclick="window.location.href='#autotech'">AutoTech & Mobility</button>
		<button onclick="window.location.href='#FinancialTechnology'">Financial Technology</button>
		<button onclick="window.location.href='#SpaceExploration'">Space Exploration</button>
		<button onclick="window.location.href='#3DPrinting'">3D Printing</button>
		<button onclick="window.location.href='#RenewableEnergy'">Renewable Energy</button>
		<button onclick="window.location.href='#Healthcare&Biotech'">Healthcare & Biotech</button>
		<button onclick="window.location.href='#ArtificialIntelligence'">Artificial Intelligence</button>
	</div>
</div>
<div class="model" id="autotech">
	<div class="modelpicture">
		<img src="https://static.wixstatic.com/media/002b52_46c99861e54d4a2c9a94df0961a4b92d~mv2.png/v1/fill/w_456,h_304,al_c,q_85,usm_0.66_1.00_0.01/image1.webp">
	</div>
	<hr style="border-top:5px solid black;">
	<div class="modeltitle">
		<h1>Auto-Tech & Mobility</h1>
	</div>
	<div class="modeldescription">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="modelflex">
		<div class="modeloverview">
			<div style="padding-left: 1vw;">
				<p><strong>Overview: </strong></p>
				<p><strong>Type: </strong></p>
				<p><strong># of Holdings: </strong></p>
				<p><strong>Inception: </strong></p>
				<p><strong>Investment Manager: </strong></p>
				<p><strong>Analysts: </strong></p>
			</div>
		</div>
		<div class="modelsubdescription">
			<div style="padding-left: 1vw;">
				<p><strong>Descriptions: </strong></p>
			</div>
		</div>
	</div>
	<div class="tablewrapper">
		<table>
		  <tr style="font-weight: 900; text-decoration: underline;">
		    <th>Company</th>
		    <th>Ticker</th>
		    <th>Shares</th>
		    <th>Market Value</th>
		    <th>Weight</th>
		  </tr>
		  <tr>
		    <td>1. Fisker</td>
		    <td>FSR</td>
		  </tr>
		  <tr>
		    <td>2. Ford</td>
		    <td>F</td>
		  </tr>
		  <tr>
		    <td>3. Nio</td>
		    <td>NIO</td>
		  </tr>
		</table>
	</div>
</div>
<div class="model" id="FinancialTechnology">
	<div class="modelpicture">
		<img src="https://static.wixstatic.com/media/002b52_46c99861e54d4a2c9a94df0961a4b92d~mv2.png/v1/fill/w_456,h_304,al_c,q_85,usm_0.66_1.00_0.01/image1.webp">
	</div>
	<hr style="border-top:5px solid black;">
	<div class="modeltitle">
		<h1>Financial Technology</h1>
	</div>
	<div class="modeldescription">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="modelflex">
		<div class="modeloverview">
			<div style="padding-left: 1vw;">
				<p><strong>Overview: </strong></p>
				<p><strong>Type: </strong></p>
				<p><strong># of Holdings: </strong></p>
				<p><strong>Inception: </strong></p>
				<p><strong>Investment Manager: </strong></p>
				<p><strong>Analysts: </strong></p>
			</div>
		</div>
		<div class="modelsubdescription">
			<div style="padding-left: 1vw;">
				<p><strong>Descriptions: </strong></p>
			</div>
		</div>
	</div>
	<div class="tablewrapper">
		<table>
		  <tr style="font-weight: 900; text-decoration: underline;">
		    <th>Company</th>
		    <th>Ticker</th>
		    <th>Shares</th>
		    <th>Market Value</th>
		    <th>Weight</th>
		  </tr>
		  <tr>
		    <td>1. Fisker</td>
		    <td>FSR</td>
		  </tr>
		  <tr>
		    <td>2. Ford</td>
		    <td>F</td>
		  </tr>
		  <tr>
		    <td>3. Nio</td>
		    <td>NIO</td>
		  </tr>
		</table>
	</div>
</div>
<div class="model" id="SpaceExploration">
	<div class="modelpicture">
		<img src="https://static.wixstatic.com/media/002b52_46c99861e54d4a2c9a94df0961a4b92d~mv2.png/v1/fill/w_456,h_304,al_c,q_85,usm_0.66_1.00_0.01/image1.webp">
	</div>
	<hr style="border-top:5px solid black;">
	<div class="modeltitle">
		<h1>Space Exploration</h1>
	</div>
	<div class="modeldescription">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="modelflex">
		<div class="modeloverview">
			<div style="padding-left: 1vw;">
				<p><strong>Overview: </strong></p>
				<p><strong>Type: </strong></p>
				<p><strong># of Holdings: </strong></p>
				<p><strong>Inception: </strong></p>
				<p><strong>Investment Manager: </strong></p>
				<p><strong>Analysts: </strong></p>
			</div>
		</div>
		<div class="modelsubdescription">
			<div style="padding-left: 1vw;">
				<p><strong>Descriptions: </strong></p>
			</div>
		</div>
	</div>
	<div class="tablewrapper">
		<table>
		  <tr style="font-weight: 900; text-decoration: underline;">
		    <th>Company</th>
		    <th>Ticker</th>
		    <th>Shares</th>
		    <th>Market Value</th>
		    <th>Weight</th>
		  </tr>
		  <tr>
		    <td>1. Fisker</td>
		    <td>FSR</td>
		  </tr>
		  <tr>
		    <td>2. Ford</td>
		    <td>F</td>
		  </tr>
		  <tr>
		    <td>3. Nio</td>
		    <td>NIO</td>
		  </tr>
		</table>
	</div>
</div>
<div class="model" id="3DPrinting">
	<div class="modelpicture">
		<img src="https://static.wixstatic.com/media/002b52_46c99861e54d4a2c9a94df0961a4b92d~mv2.png/v1/fill/w_456,h_304,al_c,q_85,usm_0.66_1.00_0.01/image1.webp">
	</div>
	<hr style="border-top:5px solid black;">
	<div class="modeltitle">
		<h1>3D Printing</h1>
	</div>
	<div class="modeldescription">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="modelflex">
		<div class="modeloverview">
			<div style="padding-left: 1vw;">
				<p><strong>Overview: </strong></p>
				<p><strong>Type: </strong></p>
				<p><strong># of Holdings: </strong></p>
				<p><strong>Inception: </strong></p>
				<p><strong>Investment Manager: </strong></p>
				<p><strong>Analysts: </strong></p>
			</div>
		</div>
		<div class="modelsubdescription">
			<div style="padding-left: 1vw;">
				<p><strong>Descriptions: </strong></p>
			</div>
		</div>
	</div>
	<div class="tablewrapper">
		<table>
		  <tr style="font-weight: 900; text-decoration: underline;">
		    <th>Company</th>
		    <th>Ticker</th>
		    <th>Shares</th>
		    <th>Market Value</th>
		    <th>Weight</th>
		  </tr>
		  <tr>
		    <td>1. Fisker</td>
		    <td>FSR</td>
		  </tr>
		  <tr>
		    <td>2. Ford</td>
		    <td>F</td>
		  </tr>
		  <tr>
		    <td>3. Nio</td>
		    <td>NIO</td>
		  </tr>
		</table>
	</div>
</div>
<div class="model" id="RenewableEnergy">
	<div class="modelpicture">
		<img src="https://static.wixstatic.com/media/002b52_46c99861e54d4a2c9a94df0961a4b92d~mv2.png/v1/fill/w_456,h_304,al_c,q_85,usm_0.66_1.00_0.01/image1.webp">
	</div>
	<hr style="border-top:5px solid black;">
	<div class="modeltitle">
		<h1>Renewable Energy</h1>
	</div>
	<div class="modeldescription">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="modelflex">
		<div class="modeloverview">
			<div style="padding-left: 1vw;">
				<p><strong>Overview: </strong></p>
				<p><strong>Type: </strong></p>
				<p><strong># of Holdings: </strong></p>
				<p><strong>Inception: </strong></p>
				<p><strong>Investment Manager: </strong></p>
				<p><strong>Analysts: </strong></p>
			</div>
		</div>
		<div class="modelsubdescription">
			<div style="padding-left: 1vw;">
				<p><strong>Descriptions: </strong></p>
			</div>
		</div>
	</div>
	<div class="tablewrapper">
		<table>
		  <tr style="font-weight: 900; text-decoration: underline;">
		    <th>Company</th>
		    <th>Ticker</th>
		    <th>Shares</th>
		    <th>Market Value</th>
		    <th>Weight</th>
		  </tr>
		  <tr>
		    <td>1. Fisker</td>
		    <td>FSR</td>
		  </tr>
		  <tr>
		    <td>2. Ford</td>
		    <td>F</td>
		  </tr>
		  <tr>
		    <td>3. Nio</td>
		    <td>NIO</td>
		  </tr>
		</table>
	</div>
</div>
<div class="model" id="Healthcare&Biotech">
	<div class="modelpicture">
		<img src="https://static.wixstatic.com/media/002b52_46c99861e54d4a2c9a94df0961a4b92d~mv2.png/v1/fill/w_456,h_304,al_c,q_85,usm_0.66_1.00_0.01/image1.webp">
	</div>
	<hr style="border-top:5px solid black;">
	<div class="modeltitle">
		<h1>Healthcare & Biotech</h1>
	</div>
	<div class="modeldescription">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="modelflex">
		<div class="modeloverview">
			<div style="padding-left: 1vw;">
				<p><strong>Overview: </strong></p>
				<p><strong>Type: </strong></p>
				<p><strong># of Holdings: </strong></p>
				<p><strong>Inception: </strong></p>
				<p><strong>Investment Manager: </strong></p>
				<p><strong>Analysts: </strong></p>
			</div>
		</div>
		<div class="modelsubdescription">
			<div style="padding-left: 1vw;">
				<p><strong>Descriptions: </strong></p>
			</div>
		</div>
	</div>
	<div class="tablewrapper">
		<table>
		  <tr style="font-weight: 900; text-decoration: underline;">
		    <th>Company</th>
		    <th>Ticker</th>
		    <th>Shares</th>
		    <th>Market Value</th>
		    <th>Weight</th>
		  </tr>
		  <tr>
		    <td>1. Fisker</td>
		    <td>FSR</td>
		  </tr>
		  <tr>
		    <td>2. Ford</td>
		    <td>F</td>
		  </tr>
		  <tr>
		    <td>3. Nio</td>
		    <td>NIO</td>
		  </tr>
		</table>
	</div>
</div>
<div class="model" id="ArtificialIntelligence">
	<div class="modelpicture">
		<img src="https://static.wixstatic.com/media/002b52_46c99861e54d4a2c9a94df0961a4b92d~mv2.png/v1/fill/w_456,h_304,al_c,q_85,usm_0.66_1.00_0.01/image1.webp">
	</div>
	<hr style="border-top:5px solid black;">
	<div class="modeltitle">
		<h1>Artificial Intelligence</h1>
	</div>
	<div class="modeldescription">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="modelflex">
		<div class="modeloverview">
			<div style="padding-left: 1vw;">
				<p><strong>Overview: </strong></p>
				<p><strong>Type: </strong></p>
				<p><strong># of Holdings: </strong></p>
				<p><strong>Inception: </strong></p>
				<p><strong>Investment Manager: </strong></p>
				<p><strong>Analysts: </strong></p>
			</div>
		</div>
		<div class="modelsubdescription">
			<div style="padding-left: 1vw;">
				<p><strong>Descriptions: </strong></p>
			</div>
		</div>
	</div>
	<div class="tablewrapper">
		<table>
		  <tr style="font-weight: 900; text-decoration: underline;">
		    <th>Company</th>
		    <th>Ticker</th>
		    <th>Shares</th>
		    <th>Market Value</th>
		    <th>Weight</th>
		  </tr>
		  <tr>
		    <td>1. Fisker</td>
		    <td>FSR</td>
		  </tr>
		  <tr>
		    <td>2. Ford</td>
		    <td>F</td>
		  </tr>
		  <tr>
		    <td>3. Nio</td>
		    <td>NIO</td>
		  </tr>
		</table>
	</div>
</div>


{% endblock %}