{% extends 'website/main.html' %}

{% block page_title_header%}
BCM - Research
{% endblock %}
{% block content %}
<div class="centertitle backgroundimg" style="border-bottom: 2px solid black;margin-left: -1vw;">
	<p class="title" id="articles" style="font-size: 3.5em;">Articles</p>
</div>
<div class="articlebox">
	<div class="articlewrapper">
		
	</div>

	<div class="articlewrapper">
		
	</div>

	<div class="articlewrapper">
		
	</div>
</div>
<div id="podcast" class="centerflex" style="border-bottom: 2px solid black;margin-left: -1vw;border-top: 2px solid black;">
	<p class="title" id="monthlycommentary">Monthly Commentary</p>
</div>
<div class="centerflex" style="padding: 5vh">
	<div class="podcastwrapper">
		<p class="title">December</p>
		<button class="podcastbutton">
			<p >Listen</p>
		</button>
	</div>
</div>
{% endblock %}